<div class="flex flex-col md:flex-row gap-4 md:gap-6 py-4 w-full">
  <figure
    class="flex justify-center items-center shrink-0 w-full aspect-square overflow-hidden"
  >
    <img
      class="w-full h-full scale-180 object-cover object-center order-product-image"
      loading="lazy"
      src=""
      alt=""
    />
  </figure>

  <!-- 상품 정보 -->
  <div class="flex justify-between">
    <div class="flex flex-col gap-1 justify-center">
      <h2 class="text-[13px] md:text-[16px] font-medium leading-[1.4] order-product-name"></h2>
      <p class="text-[12px] md:text-[15px] text-neutral-500 order-product-color"></p>
      <p class="text-[13px] md:text-[16px] font-medium order-product-price"></p>
      <p class="text-[13px] md:text-[16px] font-medium order-product-quantity"></p>
    </div>
  </div>
</div>
