<div
  id="mobileMenu"
  class="fixed opacity-0 pointer-events-none transition-all duration-500 top-0 z-49 left-0 bg-white w-screen h-full"
>
  <aside class="relative top-40 ml-5">
    <nav>
      <ul class="font-medium flex flex-col gap-2 mb-3">
        <li class="menu-animate text-[22px]">
          <a class="w-max" href="/">선글라스</a>
        </li>
        <li class="menu-animate text-[22px]">
          <a class="w-max" href="/">안경</a>
        </li>
        <li class="menu-animate text-[22px]">
          <a class="w-max" href="/">컬렉션</a>
        </li>
      </ul>
      <ul class="font-medium flex flex-col gap-2">
        <li class="menu-animate text-[18px]">
          <a class="w-max" href="/">스토리</a>
        </li>
        <li class="menu-animate text-[18px]">
          <a class="w-max" href="/">서비스</a>
        </li>
      </ul>
    </nav>

    <div class="mt-35 text-[12px] flex flex-col">
      <a class="menu-animate w-max" href="/" class="">로그인 / 계정 생성</a>
      <a class="menu-animate w-max" href="/">주문 추가하기</a>
    </div>
    <div class="mt-2 text-[12px] w-max">
      <a class="menu-animate w-max" href="/">위시리스트<sup>0</sup></a>
      <p class="menu-animate font-medium mt-11">
        아직 위시리스트에 추가된 제품이 없습니다.
      </p>
    </div>

    <div class="text-[12px] mt-12 font-medium flex flex-col gap-3">
      <a class="menu-animate w-max" href="/">고객 서비스</a>
      <a class="menu-animate w-max" href="/">국가: South Korea</a>
    </div>
  </aside>
</div>
