<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>product-card</title>
    <script type="module" src="../../main.js"></script>
    <script type="module" src="./layout.js"></script>
  </head>
  <body>
    <main class="md:px-8 lg:px-15">
      <!-- 제품 목록 -->
      <div id="productContainer" class="grid grid-cols-2 gap-4 sm:grid-cols-3 lg:grid-cols-4 justify-between">

        <!-- 더보기 버튼 -->
        <div class="text-center mb-20 mt-12 md:mt-22.5">
          <button class="text-xs border border-[#ABABAB] rounded-lg h-11 w-46 cursor-pointer">
            더 보기 16 / 147
          </button>
        </div>
      </div>
    </main>
  </body>
</html>
