<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>product-card</title>
    <script type="module" src="../../main.js"></script>
    <script type="module" src="./layout.js"></script>
  </head>
  <body>
    <main class="md:px-8 lg:px-15">
      <!-- 제품 목록 -->
      <div id="productContainer" class="grid grid-cols-2 gap-4 sm:grid-cols-3 lg:grid-cols-4 justify-between">

      </div>
    </main>
  </body>
</html>
