<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>moreButton</title>
  </head>
  <body>
    <productButton>
      <div id="moreButton" class="text-center mb-20 mt-12 md:mt-22.5">
        <button
          class="text-xs border border-[#ABABAB] rounded-lg h-11 w-46 cursor-pointer button"
        >
          더 보기 16 / 147
        </button>
      </div>
    </productButton>
  </body>
</html>
