:root{
    /* user 페이지 */
    --subTitle-button: #DFE3E8;
    --text-primary: #111111;
    --text-gray: #858585;
    --border: #D9D9D9;
    --bg: #F3F4F6;

    /* admin 페이지 */
    --cancle-button: #E5E7EB;
    --active-button: #000000;
    --admin-green: #00A63E;
    --admin-red: #E7000B;
    --admin-lightGreen: #DCFCE7;
    --admin-lightRed: #FFE2E2;
    --admin-gray: #6A7282;
    --admin-border: #99A1AF;
    --admin-page: #4A5565;
}

#subNav {
  cursor: grab;
}

#subNav.dragging {
  cursor: grabbing;
}