<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>서브메뉴 버튼 컴포넌트</title>
    <link rel="stylesheet" href="./style.css" />
    <script type="module" src="./sunglasses/subNavEvent.js"></script>
  </head>
  <body class="font-gentle">
    <div class="w-full box-border">
      <!-- SubNav 버튼 모음 -->
      <div
        class="flex flex-col md:flex-row md:items-center text-(--text-primary) gap-3 ml-3 mt-[19.5px]"
      >
        <div
          id="subNav"
          class="flex gap-2.5 overflow-x-auto whitespace-nowrap text-[8.9px] select-none cursor-grab"
        >
          <button
            class="cursor-pointer subnav-btn flex items-center rounded-[20px] py-2 px-3.25 bg-(--subTitle-button) border border-(--subTitle-button)"
            type="button"
          >
            <span class="text-center leading-3.5">전체보기</span>
          </button>

          <button
            class="cursor-pointer subnav-btn flex items-center rounded-[20px] py-2 px-3.25 bg-white border border-(--subTitle-button)"
            type="button"
          >
            <span class="text-center leading-3.5">2026 컬렉션</span>
          </button>

          <button
            class="cursor-pointer subnav-btn flex items-center rounded-[20px] py-2 px-3.25 bg-white border border-(--subTitle-button)"
            type="button"
          >
            <span class="text-center leading-3.5">서킷 컬렉션</span>
          </button>

          <button
            class="cursor-pointer subnav-btn flex items-center rounded-[20px] py-2 px-3.25 bg-white border border-(--subTitle-button)"
            type="button"
          >
            <span class="text-center leading-3.5">FALL 컬렉션</span>
          </button>

          <button
            class="cursor-pointer subnav-btn flex items-center rounded-[20px] py-2 px-3.25 bg-white border border-(--subTitle-button)"
            type="button"
          >
            <span class="text-center leading-3.5">볼드 컬렉션</span>
          </button>

          <button
            class="cursor-pointer subnav-btn flex items-center rounded-[20px] py-2 px-3.25 bg-white border border-(--subTitle-button)"
            type="button"
          >
            <span class="text-center leading-3.5">베스트셀러</span>
          </button>

          <button
            class="cursor-pointer subnav-btn flex items-center rounded-[20px] py-2 px-3.25 bg-white border border-(--subTitle-button)"
            type="button"
          >
            <span class="text-center leading-3.5">포켓 컬렉션</span>
          </button>

          <button
            class="cursor-pointer subnav-btn flex items-center rounded-[20px] py-2 px-3.25 bg-white border border-(--subTitle-button)"
            type="button"
          >
            <span class="text-center leading-3.5">2025 컬렉션</span>
          </button>

          <button
            class="cursor-pointer subnav-btn flex items-center rounded-[20px] py-2 px-3.25 bg-white border border-(--subTitle-button)"
            type="button"
          >
            <span class="text-center leading-3.5">틴트 렌즈</span>
          </button>

          <button
            class="cursor-pointer subnav-btn flex items-center rounded-[20px] py-2 px-3.25 bg-white border border-(--subTitle-button)"
            type="button"
          >
            <span class="text-center leading-3.5">선물</span>
          </button>
        </div>

        <div class="shrink-0 self-end md:self-auto md:ml-4">
          <button
            class="cursor-pointer flex justify-center items-center"
            type="button"
          >
            <span class="hidden md:block">필터</span>
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              class="inline-block"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M6.4165 15.625H2V17.125H6.4165L6.4165 15.625ZM8.9165 17.125H22V15.625H8.9165L8.9165 17.125Z"
                fill="#111111"
              ></path>
              <rect
                x="17.584"
                y="3.875"
                width="7.5"
                height="1.5"
                transform="rotate(90 17.584 3.875)"
                fill="#111111"
              ></rect>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M13.5833 6.875H2V8.375H13.5833V6.875ZM16.0833 8.375H22V6.875H16.0833V8.375Z"
                fill="#111111"
              ></path>
              <rect
                x="10.417"
                y="12.625"
                width="7.5"
                height="1.5"
                transform="rotate(90 10.417 12.625)"
                fill="#111111"
              ></rect>
            </svg>
          </button>
        </div>
      </div>
      <!-- 이미지 모음 -->
      <div>
        <figure>
          <img
            src="https://gm-prd-resource.gentlemonster.com/catalog/product/bulk/a4339e4e-3d20-489e-a6b4-a7e9bfcc27e6/11005074_LOOK_BOOK_FIRST.jpg?width=1400"
            alt=""
          />
        </figure>
      </div>
      <!-- 이미지 상단 아이템 뷰 -->
      <div
        class="mx-6 flex items-center justify-between bg-gray-100/60 bg-[linear-gradient(rgba(255,255,255,0.25),rgba(242,242,242,0))]"
      >
        <div class="my-[8.5px]">
          <em class="text-[12px] not-italic"><span>아이템</span></em>
          <p class="text-[11px]">₩269,000</p>
        </div>
        <div class="flex justify-center items-center gap-4">
          <button class="text-[10.8px] cursor-pointer">아이템 뷰</button>
          <button class="cursor-pointer">
            <svg
              class="inline-block"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="19"
              viewBox="0 0 16 19"
              fill="none"
              data-sentry-element="svg"
              data-sentry-component="SaveIcon"
              data-sentry-source-file="SaveIcon.tsx"
            >
              <path
                d="M8.38236 11.9221L8 11.6059L7.61764 11.9221L0.6 17.7253V0.6H15.4V17.7253L8.38236 11.9221Z"
                stroke="#111111"
                stroke-width="1.2"
                data-sentry-element="path"
                data-sentry-source-file="SaveIcon.tsx"
              ></path>
            </svg>
          </button>
        </div>
      </div>

      <!-- 히어로 헤더 -->
      <div class="text-[10.8px] ml-6">
        <h1 class="mb-3.75 sm:mb-6">선글라스 전체보기</h1>
        <p>
          독창적인 창의성을 담은 다양한 컬러와 쉐입의 선글라스를 만나보세요.
        </p>
      </div>

      <!-- 제품 -->
      <div>
        <a href="/">
          <figure>
            <img
              class="w-full"
              loading="lazy"
              width="1400"
              height="1400"
              src="https://gm-prd-resource.gentlemonster.com/catalog/product/bulk/32f0875d-40e5-4a9a-b902-bf91881aca01/11005049_D_45.jpg?width=1400"
              alt=""
            />
          </figure>
        </a>
        <div class="flex justify-between items-start mx-6.25">
          <a href="/">
            <h2 class="text-[9.5px]">
              디즈니 F1
              <sup class="text-sm relative top-0.5">®</sup>
              - 윙 4 R13
            </h2>
            <p class="text-[10px]">₩420,000 - 재입고 예정</p>
          </a>
          <button class="cursor-pointer">
            <svg
              class="inline-block"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="19"
              viewBox="0 0 16 19"
              fill="none"
              data-sentry-element="svg"
              data-sentry-component="SaveIcon"
              data-sentry-source-file="SaveIcon.tsx"
            >
              <path
                d="M8.38236 11.9221L8 11.6059L7.61764 11.9221L0.6 17.7253V0.6H15.4V17.7253L8.38236 11.9221Z"
                stroke="#111111"
                stroke-width="1.2"
                data-sentry-element="path"
                data-sentry-source-file="SaveIcon.tsx"
              ></path>
            </svg>
          </button>
        </div>
      </div>

      <!-- 더보기 버튼 -->
      <div class="text-center mt-12 md:mt-22.5">
        <button class="text-xs border border-[#ABABAB] rounded-lg h-11 w-46">
          더 보기 16 / 147
        </button>
      </div>
    </div>

    <script type="module" src="../main.js"></script>
  </body>
</html>
