<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>footer</title>
    <link rel="stylesheet" href="../../style.css" />
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body class="font-gentle">
    <footer class="">
      <div class="lg:flex justify-between items-center">
        <ul
          class="px-6 text-[12px] mt-21.5 mb-15 md:mb-14 md:mt-16.5 lg:mb-4.25 lg:mt-21 flex flex-col lg:flex-row lg:px-15 gap-4"
        >
          <li><a href="">문의하기</a></li>
          <li><a href="">고객 서비스</a></li>
          <li><a href="">스토어 찾기</a></li>
          <li><a href="">법적 고지</a></li>
          <li><a href="">개인정보 처리방침</a></li>
          <li><a href="">구독하기</a></li>
          <li class="hidden lg:block relative group">
            <a href="">소셜</a>
            <div
              class="absolute -top-50 mt-2 w-max bg-white opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200 ease-out"
            >
              <ul class="flex flex-col gap-1.5">
                <li><a href="">Weibo</a></li>
                <li><a href="">카카오톡</a></li>
                <li><a href="">Wechat</a></li>
                <li><a href="">X</a></li>
                <li><a href="">유튜브</a></li>
                <li><a href="">페이스북</a></li>
                <li><a href="">틱톡</a></li>
                <li><a href="">인스타그램</a></li>
              </ul>
            </div>
          </li>
          <li class="hidden md:block"><a href="">국가 : South Korea</a></li>
        </ul>
        <div class="border-t border-(--border) lg:hidden">
          <p class="px-6 text-[10.8px] mt-12.25">
            젠틀몬스터의 공식 소셜 계정을 팔로우하고 다양한 콘텐츠를 만나보세요.
          </p>
          <ul
            class="px-6 flex gap-[clamp(10px,4vw,24px)] text-[12px] mt-9 flex-wrap"
          >
            <li><a href="">인스타그램</a></li>
            <li><a href="">틱톡</a></li>
            <li><a href="">페이스북</a></li>
            <li><a href="">유튜브</a></li>
            <li><a href="">X</a></li>
            <li><a href="">WeChat</a></li>
            <li><a href="">카카오톡</a></li>
            <li><a href="">Weibo</a></li>
          </ul>
        </div>
        <div class="px-6 lg:px-15">
          <p class="text-[10.9px] font-bold mt-12">© 2026 GENTLE LION</p>
        </div>
      </div>
      <div class="px-6 lg:px-15">
        <p class="text-[8.9px] text-(--text-gray) mt-4.25 mb-6.5">
          상호명: 멋쟁이사자처럼 대표: 나성영 contact@likelion.net 사업자 번호:
          264-88-01106 통신판매업 신고번호: 2022-서울종로-1534 주소: 서울 종로구
          종로3길 17, 광화문D타워 D1동 16층, 17층 Copyright © 2024
          멋쟁이사자처럼 All rights reserved.
        </p>
      </div>
    </footer>
    <script type="module" src="../../main.js"></script>
  </body>
</html>
