<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login / register</title>
    <link rel="stylesheet" href="../../style.css" />
    <link rel="stylesheet" href="../style.css" />
    <script type="module" src="./handlerLogin.js"></script>
    <script type="module" src="../../layout.js"></script>
  </head>
  <body class="bg-(--bg) antialiased h-screen flex flex-col" data-theme="light">
    <div
      id="mobileMenu"
      class="fixed opacity-0 pointer-events-none transition-all duration-500 top-0 z-49 left-0 bg-white w-screen h-full"
    >
      <aside class="relative top-40 ml-5">
        <nav>
          <ul class="font-medium flex flex-col gap-2 mb-3">
            <li class="menu-animate text-[22px]">
              <a class="w-max" href="/">선글라스</a>
            </li>
            <li class="menu-animate text-[22px]">
              <a class="w-max" href="/">안경</a>
            </li>
            <li class="menu-animate text-[22px]">
              <a class="w-max" href="/">컬렉션</a>
            </li>
          </ul>
          <ul class="font-medium flex flex-col gap-2">
            <li class="menu-animate text-[18px]">
              <a class="w-max" href="/">스토리</a>
            </li>
            <li class="menu-animate text-[18px]">
              <a class="w-max" href="/">서비스</a>
            </li>
          </ul>
        </nav>

        <div class="mt-35 text-[12px] flex flex-col">
          <a class="menu-animate w-max" href="/" class="">로그인 / 계정 생성</a>
          <a class="menu-animate w-max" href="/">주문 추가하기</a>
        </div>
        <div class="mt-2 text-[12px] w-max">
          <a class="menu-animate w-max" href="/">위시리스트<sup>0</sup></a>
          <p class="menu-animate font-medium mt-11">
            아직 위시리스트에 추가된 제품이 없습니다.
          </p>
        </div>

        <div class="text-[12px] mt-12 font-medium flex flex-col gap-3">
          <a class="menu-animate w-max" href="/">고객 서비스</a>
          <a class="menu-animate w-max" href="/">국가: South Korea</a>
        </div>
      </aside>
    </div>

    <aside class="navigation mx-3 md:px-8 lg:px-15"></aside>
    <main
      class="flex-1 flex flex-col items-center justify-center w-full max-w-162 mx-auto px-4 py-12"
    >
      <div class="w-full">
        <div class="h-14 flex items-center mb-4 md:justify-center">
          <h1 class="text-[18px] font-medium uppercase md:text-center">
            로그인 / 계정 생성
          </h1>
        </div>

        <p class="text-[13px] leading-[1.6] text-[#111] mb-8">
          이메일 주소를 입력하시면 이전에 생성된 계정이 있는지 확인해
          드리겠습니다. 또는 비회원으로도 계속 진행하실 수 있습니다.
        </p>

        <form id="loginForm" class="space-y-6">
          <div class="space-y-1.5">
            <div class="text-[11px] text-[#858585] text-right">
              *필수 입력 항목
            </div>
            <div class="relative">
              <input
                type="email"
                id="emailInput"
                placeholder="이메일 주소*"
                required
                class="w-full h-13 px-3 bg-white border border-white rounded-lg text-[13px] outline-none focus:border-black transition-all placeholder-[#858585]"
              />
            </div>
          </div>

          <button
            type="submit"
            class="w-full h-13 bg-[#111] text-white text-[13px] rounded-lg uppercase font-medium transition-colors"
          >
            계속하기
          </button>
          <button
            class="w-full h-13 bg-[#858585] text-white text-[13px] rounded-lg uppercase font-medium transition-colors"
          >
            다른 옵션 보기
          </button>
        </form>

        <div class="mt-16">
          <button
            class="w-full h-13 border border-[#ababab] text-[13px] rounded-lg uppercase text-[#111] hover:bg-white transition-all"
          >
            주문 추적하기
          </button>
        </div>
      </div>
    </main>
  </body>
</html>
