<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입</title>
    <link rel="stylesheet" href="../../style.css" />
    <link rel="stylesheet" href="../style.css" />
    <script type="module" src="./eyeIcon.js"></script>
    <script type="module" src="../../layout.js"></script>
    <script type="module" src="./handlerRegister.js"></script>
  </head>
  <body class="bg-(--bg) flex flex-col" data-theme="light">
    <div
      id="mobileMenu"
      class="fixed opacity-0 pointer-events-none transition-all duration-500 top-0 z-49 left-0 bg-white w-screen h-full"
    >
      <aside class="relative top-40 ml-5">
        <nav>
          <ul class="font-medium flex flex-col gap-2 mb-3">
            <li class="menu-animate text-[22px]">
              <a class="w-max" href="/">선글라스</a>
            </li>
            <li class="menu-animate text-[22px]">
              <a class="w-max" href="/">안경</a>
            </li>
            <li class="menu-animate text-[22px]">
              <a class="w-max" href="/">컬렉션</a>
            </li>
          </ul>
          <ul class="font-medium flex flex-col gap-2">
            <li class="menu-animate text-[18px]">
              <a class="w-max" href="/">스토리</a>
            </li>
            <li class="menu-animate text-[18px]">
              <a class="w-max" href="/">서비스</a>
            </li>
          </ul>
        </nav>

        <div class="mt-35 text-[12px] flex flex-col">
          <a class="menu-animate w-max" href="/" class="">로그인 / 계정 생성</a>
          <a class="menu-animate w-max" href="/">주문 추가하기</a>
        </div>
        <div class="mt-2 text-[12px] w-max">
          <a class="menu-animate w-max" href="/">위시리스트<sup>0</sup></a>
          <p class="menu-animate font-medium mt-11">
            아직 위시리스트에 추가된 제품이 없습니다.
          </p>
        </div>

        <div class="text-[12px] mt-12 font-medium flex flex-col gap-3">
          <a class="menu-animate w-max" href="/">고객 서비스</a>
          <a class="menu-animate w-max" href="/">국가: South Korea</a>
        </div>
      </aside>
    </div>

    <aside class="navigation mx-3 md:px-8 lg:px-15"></aside>
    <main
      class="flex-1 flex flex-col items-center justify-center w-full max-w-162 mx-auto px-4 py-12"
    >
      <div class="w-full">
        <div class="h-14 flex items-center mb-4 md:justify-center">
          <h1 class="text-[18px] uppercase md:text-center">계정 생성하기</h1>
        </div>

        <p class="text-[13px] leading-[1.6] text-[#111] mb-8">
          아래 필드에 정보를 입력하여 걔정을 생성하고 특별한 서비스를
          만나보세요.
        </p>

        <form id="loginForm" class="space-y-6">
          <div class="space-y-1.5">
            <div class="relative">
              <input
                type="email"
                id="emailInput"
                placeholder="이메일 주소*"
                required
                class="w-full h-13 px-3 bg-white border border-white rounded-lg text-[13px] outline-none focus:border-black transition-all placeholder-[#858585]"
              />
            </div>
          </div>
          <div class="space-y-1.5">
            <div class="relative">
              <input
                type="password"
                id="passwordInput"
                placeholder="비밀번호*"
                required
                class="w-full h-13 px-3 bg-white border border-white rounded-lg text-[13px] outline-none focus:border-black transition-all placeholder-[#858585]"
              />
              <div
                class="toggle-button inline-flex absolute top-1/2 -translate-y-1/2 left-auto right-3 cursor-pointer"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="eye-icon w-5 h-5"
                >
                  <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" />
                  <path
                    fill-rule="evenodd"
                    d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
            </div>
          </div>
          <div class="space-y-1.5">
            <div class="relative">
              <input
                type="password"
                id="passwordCheck"
                placeholder="비밀번호 확인*"
                required
                class="w-full h-13 px-3 bg-white border border-white rounded-lg text-[13px] outline-none focus:border-black transition-all placeholder-[#858585]"
              />
              <div
                class="toggle-button inline-flex absolute top-1/2 -translate-y-1/2 left-auto right-3 cursor-pointer"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="eye-icon w-5 h-5"
                >
                  <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" />
                  <path
                    fill-rule="evenodd"
                    d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
            </div>
          </div>
          <div class="space-y-1.5">
            <div class="relative">
              <input
                type="text"
                id="firstName"
                placeholder="성*"
                required
                class="w-full h-13 px-3 bg-white border border-white rounded-lg text-[13px] outline-none focus:border-black transition-all placeholder-[#858585]"
              />
            </div>
          </div>
          <div class="space-y-1.5">
            <div class="relative">
              <input
                type="text"
                id="lastName"
                placeholder="이름*"
                required
                class="w-full h-13 px-3 bg-white border border-white rounded-lg text-[13px] outline-none focus:border-black transition-all placeholder-[#858585]"
              />
            </div>
          </div>
          <div class="space-y-1.5">
            <div class="relative">
              <input
                type="text"
                id="phoneNumber"
                placeholder="전화번호*"
                required
                class="w-full h-13 px-3 bg-white border border-white rounded-lg text-[13px] outline-none focus:border-black transition-all placeholder-[#858585]"
              />
            </div>
          </div>
          <div class="space-y-1.5">
            <div class="relative">
              <input
                type="text"
                id="address"
                placeholder="주소*"
                required
                readonly
                class="w-full h-13 px-3 bg-white border border-white rounded-lg text-[13px] outline-none focus:border-black transition-all placeholder-[#858585] cursor-pointer"
              />
              <button
                type="button"
                id="addressSearchBtn"
                class="absolute top-1/2 -translate-y-1/2 right-3 text-[12px] text-[#858585] underline"
              >
                주소 검색
              </button>
            </div>
          </div>
          <div class="space-y-1.5">
            <div class="relative">
              <input
                type="text"
                id="addressDetail"
                placeholder="상세주소를 입력해주세요"
                required
                class="w-full h-13 px-3 bg-white border border-white rounded-lg text-[13px] outline-none focus:border-black transition-all placeholder-[#858585]"
              />
            </div>
          </div>

          <div class="relative flex items-center mb-4">
            <input
              type="checkbox"
              id="agreeAll"
              class="peer appearance-none w-4 h-4 border rounded-xs bg-white checked:bg-white focus:ring-1 cursor-pointer"
              checked
            />
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="13"
              height="10"
              viewBox="0 0 13 10"
              fill="none"
              class="pointer-events-none absolute left-0.5 opacity-0 peer-checked:opacity-100 transition-all"
            >
              <rect
                width="11.2502"
                height="1.2"
                transform="matrix(0.707155 -0.707059 0.707155 0.707059 3.24219 8.77734)"
                fill="#111111"
              ></rect>
              <rect
                width="5.5"
                height="1.2"
                transform="matrix(0.707155 0.707059 -0.707155 0.707059 1.04883 4.8877)"
                fill="#111111"
              ></rect>
            </svg>
            <label for="default-checkbox" class="select-none ms-2 text-[13px]"
              >모두 동의하기</label
            >
          </div>
          <div class="relative flex items-center">
            <input
              type="checkbox"
              id="agreeTerms"
              class="peer appearance-none w-4 h-4 border rounded-xs bg-white checked:bg-white focus:ring-1 cursor-pointer"
              checked
            />
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="13"
              height="10"
              viewBox="0 0 13 10"
              fill="none"
              class="pointer-events-none absolute left-0.5 opacity-0 peer-checked:opacity-100 transition-all"
            >
              <rect
                width="11.2502"
                height="1.2"
                transform="matrix(0.707155 -0.707059 0.707155 0.707059 3.24219 8.77734)"
                fill="#111111"
              ></rect>
              <rect
                width="5.5"
                height="1.2"
                transform="matrix(0.707155 0.707059 -0.707155 0.707059 1.04883 4.8877)"
                fill="#111111"
              ></rect>
            </svg>
            <label for="checked-checkbox" class="select-none ms-2 text-[13px]"
              >젠틀몬스터의
              <a href="./terms.html" target="_blank" class="underline"
                >이용약관</a
              >에 동의합니다.(필수)</label
            >
          </div>
          <div class="relative flex items-center">
            <input
              type="checkbox"
              id="agreeAge"
              class="peer appearance-none w-4 h-4 border rounded-xs bg-white checked:bg-white focus:ring-1 cursor-pointer"
              checked
            />
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="13"
              height="10"
              viewBox="0 0 13 10"
              fill="none"
              class="pointer-events-none absolute left-0.5 opacity-0 peer-checked:opacity-100 transition-all"
            >
              <rect
                width="11.2502"
                height="1.2"
                transform="matrix(0.707155 -0.707059 0.707155 0.707059 3.24219 8.77734)"
                fill="#111111"
              ></rect>
              <rect
                width="5.5"
                height="1.2"
                transform="matrix(0.707155 0.707059 -0.707155 0.707059 1.04883 4.8877)"
                fill="#111111"
              ></rect>
            </svg>
            <label for="checked-checkbox" class="select-none ms-2 text-[13px]"
              >만 14세 이상입니다.(필수)</label
            >
          </div>
          <div class="relative flex items-center">
            <input
              type="checkbox"
              id="agreeNewsletter"
              class="peer appearance-none w-4 h-4 border rounded-xs bg-white checked:bg-white focus:ring-1 cursor-pointer"
              checked
            />
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="13"
              height="10"
              viewBox="0 0 13 10"
              fill="none"
              class="pointer-events-none absolute left-0.5 opacity-0 peer-checked:opacity-100 transition-all"
            >
              <rect
                width="11.2502"
                height="1.2"
                transform="matrix(0.707155 -0.707059 0.707155 0.707059 3.24219 8.77734)"
                fill="#111111"
              ></rect>
              <rect
                width="5.5"
                height="1.2"
                transform="matrix(0.707155 0.707059 -0.707155 0.707059 1.04883 4.8877)"
                fill="#111111"
              ></rect>
            </svg>
            <label for="checked-checkbox" class="select-none ms-2 text-[13px]"
              >젠틀몬스터 뉴스레터를 받고 싶습니다.(선택)</label
            >
          </div>
          <div class="flex items-center">
            <div class="relative flex items-center justify-center w-4 h-4">
              <input
                type="checkbox"
                id="agreePrivacy"
                class="peer appearance-none w-4 h-4 border rounded-xs bg-white checked:bg-white focus:ring-1 cursor-pointer"
                checked
              />
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="13"
                height="10"
                viewBox="0 0 13 10"
                fill="none"
                class="pointer-events-none absolute left-0.5 opacity-0 peer-checked:opacity-100 transition-all"
              >
                <rect
                  width="11.2502"
                  height="1.2"
                  transform="matrix(0.707155 -0.707059 0.707155 0.707059 3.24219 8.77734)"
                  fill="#111111"
                ></rect>
                <rect
                  width="5.5"
                  height="1.2"
                  transform="matrix(0.707155 0.707059 -0.707155 0.707059 1.04883 4.8877)"
                  fill="#111111"
                ></rect>
              </svg>
            </div>
            <label for="checked-checkbox" class="select-none ms-2 text-[13px]"
              >젠틀몬스터 뉴스레터 수신을 위한
              <a href="./privacy.html" target="_blank" class="underline"
                >개인정보 수집 및 이용</a
              >에 동의합니다.(선택)</label
            >
          </div>

          <button
            id="success"
            type="submit"
            class="w-full h-13 bg-[#111] text-white text-[13px] rounded-lg uppercase font-medium transition-colors"
          >
            계속하기
          </button>
        </form>
      </div>
    </main>
  </body>
</html>
