@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@theme {
  --font-gentle:
    "Pretendard", "Noto Sans KR", "Apple SD Gothic Neo", sans-serif;
}

@theme {
  @keyframes rolling {
    0%,
    20% {
      transform: translateY(0);
    }
    25%,
    45% {
      transform: translateY(-20%);
    }
    50%,
    70% {
      transform: translateY(-40%);
    }
    75%,
    100% {
      transform: translateY(-60%);
    }
  }

  --animate-rolling: rolling 8s linear infinite;
}

@layer components {
  .nav-bar {
    @apply text-white text-[14px] px-2 py-1 bg-transparent border-none cursor-pointer;
  }
  .nav-bar-list {
    @apply mt-3 text-nowrap first:mt-9 text-white text-[13px] leading-4.25;
  }
  .rolling-list {
    @apply text-white text-[13px];
  }
  .utility-bar.is-scrolled .nav-bar,
  .utility-bar.is-scrolled .nav-bar-list,
  .utility-bar.is-scrolled .rolling-list {
    @apply text-black;
  }
  .utility-bar.is-scrolled .logo-item path {
    @apply fill-black;
  }
  .utility-bar.is-scrolled .side-bar rect {
    @apply fill-black;
  }
  .utility-bar.is-scrolled .search-item path {
    @apply stroke-black;
  }
  .utility-bar.is-scrolled .profile path,
  .utility-bar.is-scrolled .profile circle {
    @apply stroke-black;
  }
  .utility-bar.is-scrolled .cart path {
    @apply stroke-black;
  }
}
